{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true,
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:jsx-a11y/recommended",
		"plugin:prettier/recommended",
	],
	"parserOptions": {
		"ecmaVersion": 12,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
		},
	},
	"plugins": ["react", "react-hooks", "jsx-a11y", "simple-import-sort", "import"],
	"settings": {
		"react": {
			"version": "detect",
		},
	},
	"rules": {
		"arrow-body-style": ["error", "as-needed"],
		"curly": ["error", "all"],
		"import/first": "error",
		"import/newline-after-import": "error",
		"import/no-duplicates": "error",
		"import/no-extraneous-dependencies": "off",
		"import/prefer-default-export": "off",
		"jsx-a11y/label-has-for": "off",
		"jsx-a11y/label-has-associated-control": "off",
		"jsx-a11y/no-redundant-roles": "off",
		"lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
		"max-classes-per-file": ["error", 8],
		"no-underscore-dangle": ["error", { "allow": ["__BROWSER__", "__WORKER__", "__NODE__", "__DOM__"] }],
		"prettier/prettier": "error",
		"react/boolean-prop-naming": ["error", { "validateNested": true }],
		"react/forbid-prop-types": "off",
		"react/function-component-definition": ["error", { "namedComponents": "arrow-function" }],
		"react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
		"react/jsx-props-no-spreading": ["error", { "custom": "ignore" }],
		"react/jsx-sort-props": "error",
		"react/no-unknown-property": ["error", { "ignore": ["fetchpriority"] }],
		"react/prop-types": "off",
		"react/react-in-jsx-scope": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "error",
		"simple-import-sort/exports": "error",
		"simple-import-sort/imports": "error",
	},
}
